name:
    _: "Yukiko"
    ru: "Юкико"

description:
    _: "Next day she will have been living in the big city for a year. But she hasn't paid a visit to a lot of popular places of interest, which she used to eyeball on pictures from travel magazine articles about Tokyo. [[MT]] So the time has come for the fulfillment of the main dream - visiting an amusement park, and even for the first date with someone who over and over again makes you blush and embarrassed. As soon as they entered and the desired landscape appeared before them, Yukiko almost screamed with delight, anticipating the most eventful day since the move. However, there was another problem - the girl got worried and drank too much water before coming here and already needed to go to the restroom, but so far the emotions of delight were too strong and did not want to interrupt the date in search of a toilet. Meanwhile, the guy went to buy Yukiko a huge, but very tasty drink, which is sold only in this place."
    ru: "Она уже как год осваивается в большом городе, но так и не побывала во многих популярных местах, которые она часто разглядывала в журналах про Токио у себя на родине. Вот и подошло время для исполнения главной мечты- посещения парка аттракционов, да еще и на первое свидание с тем, кто раз за разом заставляет краснеть и смущаться. Как только они вошли и перед ними предстал желанный пейзаж, Юкико чуть не закричала от восторга, предвкушая самый насыщенный день с момента переезда. Однако, была и другая проблема- девушка переволновалась и выпила еще до прихода сюда слишком много воды и уже нуждалась в посещении уборной, но пока что эмоции восторга были слишком сильны и не хотелось прерывать свидание на поиски туалета. Между тем, парень пошел покупать Юкико огромный, но очень вкусный напиток, который продается только в этом месте."

authors:
    - name: "Yumichka.3"
      url: "https://www.omorashi.org/profile/190868-yumichka3/"
