name:
    _: "Takagi"
    ru: "Такаги"

description:
    _: "A highschool girl from Kyoto. She's having her entry exams soon, so lately she has been studying hard to get into a good university. She doesn't have much time to herself and has developed a habbit to endure her need to urinate for as long as possible. But today she's finally able to meet with her friend in park, where there are no restrooms around UwU."
    ru: "Ученица старших классов из Киото, у которой на носу выпускной экзамен, который она должна сдать на отлично, чтобы поступить в хороший университет. У неё практически нет времени ни на что, но сегодня она впервые за месяц  пошла развеяться и встретиться с подругой в парке, взяв с собой учебник по истории."

authors:
    - name: "Yumichka.3"
      url: "https://www.omorashi.org/profile/190868-yumichka3/"
