name:
    _: "Takagi"
    ru: "Такаги"

description:
    _: "A highschool girl from Kyoto. She's having her entry exams soon, so lately she has been studying hard to get into a good university. She doesn't have much time to herself and has developed a habbit to endure her need to urinate for as long as possible. But today she's finally able to meet with her friend in park, where there are no restrooms around UwU."
    ru: "Ученица старших классов обычной Киотской школы, у которой на носу выпускные экзамены. У Такаги, как и у всех выпускников, практически нет времени на развлечения, однако, сегодня она пообещала подруге наконец-то отвлечься от учебы и погулять в парке рядом со школой. Придя в назначенное место, Такаге поняла, что подругу как обычно придется ждать, поэтому она купила себе свой любимый молочный коктейль, встала возле фонтана, и погрузилась в учебник."

authors:
    - name: "Yumichka.3"
      url: "https://www.omorashi.org/profile/190868-yumichka3/"
