name:
    _: "Nastya"
    ru: "Настя"

description:
    _: "She's quite far from the title of diligent student, instead she prefers big companies and nighttime adventures, which more than often end up being pretty bizzare and macabre. She is not alien to fragility and shyness, yet in public she shows completely different qualities. This time Nastya was once more invited to the birthday of one of the many mutual acquaintances and, lo and behold, she agreed. The celebration itself was decided to be held on the street, namely in a proven courtyard, from which her friends were never kicked out at night. Hey, wait a minute... outdoors? And for the entire night too? Is there even a restroom here? It does look like there's just three benches and an array of windows..."
    ru: "Она достаточно далека от звания прилежной студентки. Настя любит большие компании, где ей всегда рады, и ночные прогулки, которые часто заканчиваются какими-то совершенно безбашенными ситуациями. Ей не чужда хрупкость и стеснительность, однако на людях она показывает совершенно иные качества. В этот раз Настю снова позвали на день рождения какого-то из многочисленных общих знакомых и, естественно, она согласилась. Само празднование решено было проводить на улице, а именно в проверенном дворе, из которого ее знакомых никогда не выгоняли по ночам.... Но на улице? Да еще и всю ночь? А где здесь вообще туалет, тут ведь просто три лавочки и всюду окна..."

authors:
    - name: "Yumichka.3"
      url: "https://www.omorashi.org/profile/190868-yumichka3/"
