

#game_ui {
    display: flex;
    width: 700px;
    height: 700px;
    margin: auto;
}

#board_wrap {
    flex: 2;
}

#status_wrap {
    width: 205px;
    padding-left: 20px;
}

#board_container {
    position: relative;
    width: 450px;
    height: 677px;
    background-color: #e7faff;
}

#bladder_mask, #board, #urinometer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#bladder_mask {
    z-index: 15;
    background: url(images/bladder_blue.png);
    background-size: contain;
}

#board {
    z-index: 10;
    padding: 90px 45px 45px 40px;
}

.tetris {
    display: flex;
    flex-direction: column;
}

.tetrisRow {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2px;
}

.tetrisCell {
    position: relative;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    border: 2px solid #b9b9b9;
    border-radius: 5px;
}

.block {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-51%, -52%);
    box-sizing: border-box;
    width: 76%;
    height: 76%;
    border: 3px solid #895000;
    border-radius: 5px;
    visibility: hidden;
}

.tetrisCell.filled > .block {
    visibility: visible;
}

.tetrisCell.f1 > .block {
    background-color: #f6c374;
}

.tetrisCell.f2 > .block {
    background-color: #f8cd8c;
}

.tetrisCell.f3 > .block {
    background-color: #f9d8a4;
}

.tetrisCell.f4 > .block {
    background-color: #fbe2bc;
}

.tetrisCell.f5 > .block {
    background-color: #fcecd4;
}

.tetrisCell.f6 > .block, .tetrisCell.f7 > .block {
    background-color: #fef7ec;
}

#urinometer {
    visibility: hidden;
    z-index: 12;
    box-sizing: border-box;
    border-style: solid;
    border-width: 95px 6px 19px 13px;
    border-image: url(images/urine.webp) 95 6 19 13 fill;
    opacity: .6;
    pointer-events: none;
    height: 0;
    transition: height .5s ease-in-out;
    top: unset;
}

#instructions {
    margin-top: 50px;
    font-size: 24px;
}

#droplet {
    box-sizing: border-box;
    display: inline-block;
    background-image: url(images/drop_yellow.png);
    background-size: cover;
    height: 253px;
    width: 140px;
    padding-top: 128px;
    padding-left: 11px;
    padding-right: 10px;
}

#droplet .tetrisCell {
    width: 28px;
    height: 28px;
    border-color: hsl(0deg 0% 0% / 10%);
    background: #fff;
}

#next_tetramino h1 {
    text-transform: uppercase;
    margin: 0;
}

#girl {
    margin-top: 20px;
    height: calc(100% - 292px - 20px);
    background-repeat: no-repeat;
    background-size: auto 100%;
}
