name:
    _: "Demo the Witch"
    ru: "Ведьмочка Демо"

description:
    _: "A young witch, who kindly agreed to bladder tortures in exchange for money. She's a water mage, but she mustn't use her powers in order to ease her agony. N.B.: Demo is our first character and we will not remove her from the game for historical purposes :3"
    ru: "Молодая ведьмочка, которая согласилась пожертвовать своим мочевым пузырём в обмен на деньги. Не дайте её стараниям пропасть зря и заомьте её. Она первый наш персонаж, поэтому мы её не уберём, спасибо за понимание."

authors:
    - name: "Ciatrice"
      url: "https://t.me/beatoTheWitch"
