name:
    _: "Fox"
    ru: "Лисица"

description:
    _: "She looks like a young girl. No one knows how old she is, but they say several hundred. For a long time she dreamed of being a model and now she is ready to do anything for money. This trait led her into the field of omo-modeling, where she has to fulfill any wishes of customers."
    ru: "На вид молодая девушка. Никто не знает сколько ей лет, но говорят, что несколько сотен. Долгое время мечтала быть моделью и теперь ради денег готова пойти на все. Эта черта завела её в сферу омо-моделинга, где приходится исполнять любые желания заказчиков."

authors:
    - name: "Маргарита Fox"
      url: "https://t.me/Black_Lisic"
